body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin-right: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#preview-btn {
  background-color: #008CBA;
  margin-right: 10px;
}

#table-preview {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #

  border-collapse: collapse;
}

#preview td {
  padding: 10px;
  border: 1px solid #000;
}

#preview td:hover {
  background-color: #ddd;
}
